
<p>
  Qmik.inArray()确定元素在数组中的位置(建议直接使用array.indexOf(value))
</p> 
<p>
	Qmik.inArray(value, array);
</p>
<table class="am-table am-table-bd am-table-striped"> 
  <thead> 
   <tr> 
    <th>参数</th> 
    <th>描述</th> 
   </tr> 
  </thead> 
  <tbody> 
   <tr> 
    <td>value</td> 
    <td>值</td>
   </tr> 
   <tr> 
    <td>array</td> 
    <td>数组</td> 
   </tr>
  </tbody> 
</table> 
<div class="doc-code demo-highlight"> 
  <pre class=""><code class="javascript">

  	var index = Qmik.inArray(1, [1,2,3]);
  </code></pre> 
</div> 

