
<p>Qmik.merge()函数用于合并数组或对象。</p> 
<p>
	Qmik.merge(object1, object2[,...]);
</p>
<table class="am-table am-table-bd am-table-striped"> 
  <thead> 
   <tr> 
    <th>参数</th> 
    <th>描述</th> 
   </tr> 
  </thead> 
  <tbody> 
   <tr> 
    <td>object1</td> 
    <td>对象1</td>
   </tr> 
   <tr> 
    <td>object2</td> 
    <td>对象2</td> 
   </tr>
  </tbody> 
</table> 
<div class="doc-code demo-highlight"> 
  <pre class=""><code class="javascript">
  	var object = $.merge([1,6,3], [4,9], [2, 0]);//[1,6,3,4,9,2,0]
    var object = $.merge({name:'leo'},{age:22});//{name: "leo", age: 22}
  </code></pre> 
</div> 

