/* 基础样式 */
body{padding:0;margin:0;min-width:320px;backface-visibility: hidden;-webkit-backface-visibility: hidden;-ms-backface-visibility: hidden;-moz-backface-visibility: hidden;background-color:#eeeeee;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;}
[q-ctrl]{visibility: hidden;}
input{outline:none;background:no-repeat 0 0 scroll;border:none;outline:medium;}
ul,li{list-style-type: none;margin: 0;padding: 0;font-size: 0;}
img{border:0;margin:0;padding:0;}
a{text-decoration: none;}
p{padding:0;margin:0;}
div{backface-visibility: hidden;-webkit-backface-visibility: hidden;-ms-backface-visibility: hidden;-moz-backface-visibility: hidden;}
.wblock{width: 94%;margin: 0 auto;min-height: 50px;}
.wblock h2{font-size:16px;}
.wblock h3{font-size:15px;}
.wblock h4{font-size:14px;}
.wblock h5{font-size:13px;}
.wblock h6{font-size:12px;}
.wblock h7{font-size:12px;transform-origin: 0 0;-webkit-transform-origin: 0 0;transform:scale(0.9);-webkit-transform:scale(0.9);-webkit-backface-visibility: hidden;}
.wblock h8{font-size:12px;transform-origin: 0 0;-webkit-transform-origin: 0 0;transform:scale(0.8);-webkit-transform:scale(0.8);-webkit-backface-visibility: hidden;}
.wblock h2,.wblock h3,.wblock h4,.wblock h5,.wblock h6,.wblock h7,.wblock h8{margin:0;color:#333333;font-weight: 100;text-overflow: clip;white-space: nowrap;}
.section2{display: inline-block;width:41.25%;}
.section2 img{width: 100%;}


/** 界面样式 */
body,.wrap{background-color:#eeeeee;}
.wrap{width:320px;min-width:320px;max-width:640px;margin:0 auto;margin-bottom:30px;-webkit-transform-origin: 50% 0;-moz-transform-origin: 50% 0;-o-transform-origin: 50% 0;-ms-transform-origin: 50% 0;transform-origin: 50% 0;overflow:hidden;position:relative;}
/*@media screen and (min-width: 360px) {.wrap {transform:scale(1.120);-webkit-transform:scale(1.120);}}
@media screen and (min-width: 420px) {.wrap {transform:scale(1.3125);-webkit-transform:scale(1.3125);}}
@media screen and (min-width: 480px) {.wrap {transform:scale(1.5);-webkit-transform:scale(1.5);}}
@media screen and (min-width: 600px) {.wrap {transform:scale(1.875);-webkit-transform:scale(1.875);}}
@media screen and (min-width: 640px) {.wrap {transform:scale(2);-webkit-transform:scale(2);}}
*/
.wrap .banner .s_remind{bottom:0px;}
.wrap .wap_block_style17 .s_view li, .wrap .wap_block_style17 .s_view li img{max-width:320px;}
#main_2002117{height:105px;}
#main_2002119{height:125px;}

.wap_block_style21{min-height:80px;overflow: hidden;padding:7px 0;position:relative;text-align:justify;margin: 0 auto;font-size: 0;}
.wap_block_style21 .sitem{width:74.5px;padding:0;margin:0;display:inline-block;height: 37px;line-height: 37px;position: relative;text-align:left;color:#535353;font-size:12px;white-space:nowrap;}
@media screen and (min-width: 360px) {.wap_block_style21 .sitem {font-size:12px;}}
.wap_block_style21 .sitem img{ width:26px;height:26px;border-radius: 8px;position: relative;top: 7px;margin-right: 3%;}

.wap_block_style22{padding-top: 0px;padding-bottom: 0px;position:relative;-webkit-tap-highlight-color:rgba(255,0,0,0);tap-highlight-color:rgba(255,0,0,0);text-align:justify;height:125px;}
.wap_block_style22  a, .wap_block_style22 > div{display:inline-block;background:#ffffff;text-align:left;overflow:hidden;}
.wap_block_style22 p{text-overflow:clip;white-space:nowrap;overflow: hidden;padding: 0 6px 0 6px}
.wap_block_style22 div{}
.wap_block_style22 a{display:inline-block;}
.wap_block_style22 .s22_left{padding: 6px 0 0 0;width:96px;float: left;font-size: 0;}
.wap_block_style22 .s22_left,.wap_block_style22 .s22_right{box-shadow: 1px 1px 1px #ddd;}
.wap_block_style22 .s22_title{font-size:15px;height:15px;line-height:15px;color:#333333;}
.wap_block_style22 .s22_desc{font-size:12px;height:12px;padding-top:5px;padding-bottom:7px;color:#bdbdbd;transform-origin: 0 0;-webkit-transform-origin: 0 0;transform:scale(0.8);-webkit-transform:scale(0.8);-webkit-backface-visibility: hidden;}
.wap_block_style22 .s22_stitle{font-size:12px;color:#333333;padding: 0 0 5px 4px;transform-origin: 0 0;-webkit-transform-origin: 0 0;transform:scale(0.9);-webkit-transform:scale(0.9);-webkit-backface-visibility: hidden;}
.wap_block_style22 .s22_left img{width:70px;height:80px;display: block;margin: 0 auto;}
.wap_block_style22 .s22_right{width:194px;height:100%;float: right;position:relative;}
.wap_block_style22 .s22_right_brand{width:44%;padding: 6px 0 0 10px;display: inline-block;font-size: 0;}
.wap_block_style22 .s22_right_brand img{width:70px;height:80px;}
.wap_block_style22 .s22_right_pto{width:108px;position: absolute;bottom: 0;right: 0;font-size:0;}
.wap_block_style22 .s22_right_pto a{font-size:0;}
.wap_block_style22 .s22_right_pto img{width:53px;height:42px;float: right;}

.wap_block_style23{overflow: hidden;margin-top:10px;padding-top: 0px;padding-bottom: 0px;position:relative;-webkit-tap-highlight-color:rgba(255,0,0,0);tap-highlight-color:rgba(255,0,0,0);text-align:justify;height:80px;background-color:#ffffff;font-size:0;}
.wap_block_style23 > a{width:100%;height:100%;}
.wap_block_style23 a,.wap_block_style23 h2{display:inline-block;margin:0;}
.wap_block_style23 p{text-overflow:clip;white-space:nowrap;}
.wap_block_style23 div{display:inline-block;background:#ffffff;text-align:left;overflow:hidden;}
.wap_block_style23 .s23_1{width:105px;text-align:left;padding:9px 0 9px 9px;float:left;font-size:0;}
.wap_block_style23 .s23_1 p:nth-child(1){font-size:16px;color:#333333;}
.wap_block_style23 .s23_1 p:nth-child(2){padding:5px 0 7px 0;font-size:12px;height:12px;line-height:12px;color:#bdbdbd;}
.wap_block_style23 .s23_1 span{display:inline-block;font-size: 16px;padding: 0 2px 0 0px;}
.wap_block_style23 .s23_1 h2{font-size: 15px;height: 20px;background: #333333;margin-right: 1px;color: #ffffff;border-radius: 3px;width: 13px;line-height: 22px;text-align: center;}
.wap_block_style23 .stage{font-size:0;width: 180px;display: inline-block;}
.wap_block_style23 .s23_2{width:70px;height:80px;}
.wap_block_style23 .s23_2 img{width:100%;height:100%;}
.wap_block_style23 .s23_3{width:108px;text-align: left;padding: 30px 0 18px 0;float:right;}
.wap_block_style23 .s23_3 p:nth-child(1){font-size:13px;color:#333333;}
.wap_block_style23 .s23_3 p:nth-child(2){padding-top:4px;font-size:12px;color:#bdbdbd;}


.wap_block_style24{overflow: hidden;margin-top:10px;padding-top: 0px;padding-bottom: 0px;position:relative;-webkit-tap-highlight-color:rgba(255,0,0,0);tap-highlight-color:rgba(255,0,0,0);text-align:justify;height:115px;font-size: 0px;} 
.wap_block_style24 > div{display:inline-block;background:#ffffff;text-align:left;overflow:hidden;}
.wap_block_style24 a{display:inline-block;}
.wap_block_style24 .s24_c{width:78px;padding:8px 8px 0 8px;}
.wap_block_style24 .s24_c:nth-child(1){float:left;}
.wap_block_style24 .s24_c:nth-child(2){margin:0 6px 0 9px;}
.wap_block_style24 .s24_c:nth-child(3){float:right;}
.wap_block_style24 .s24_c img{width:75px;height:80px;}
.wap_block_style24 .s24_c h6{color:#cbcbcb;height:14px;margin:3px auto 0 auto;transform-origin: 0 0;-webkit-transform-origin: 0 0;transform:scale(0.9);-webkit-transform:scale(0.9);backface-visibility: hidden;-webkit-backface-visibility: hidden;}

.wap_block_style27{overflow: hidden;margin-top:10px;padding-top: 0px;padding-bottom: 0px;position:relative;-webkit-tap-highlight-color:rgba(255,0,0,0);tap-highlight-color:rgba(255,0,0,0);text-align:justify;text-align-last:justify;font-size:1px;}  

.wap_block_style27 > h2{padding-left:10px;}

.wap_block_style27 .s27_c{display:inline-block;width:145px;height:60px;text-align:left;overflow:hidden;position:relative;margin-top:5px;margin-bottom: 5px;background-color: #ffffff;}
.wap_block_style27 .s27_c:nth-child(even){float:right;}
.wap_block_style27 .s27_c:nth-child(odd){float:left;}
.wap_block_style27 .s27_c img{width:100%;}

.wap_block_style28{overflow: hidden;margin-top:10px;padding-top: 0px;padding-bottom: 0px;position:relative;-webkit-tap-highlight-color:rgba(255,0,0,0);tap-highlight-color:rgba(255,0,0,0);text-align:justify;text-align-last:justify;font-size:1px;} 
.wap_block_style28 > h2{padding-left:10px;}
.wap_block_style28 .s28_c{display:inline-block;width:136px;height:60px;text-align:left;overflow:hidden;position:relative;margin-top:5px;margin-bottom: 5px;padding-top:5px;padding-left:9px;background-color: #ffffff;}
.wap_block_style28 .s28_c:nth-child(even){float:left;}
.wap_block_style28 .s28_c:nth-child(odd){float:right;}
.wap_block_style28 .s28_c img{width:50px;height:50px;position: absolute;right:5px;top:10px;backface-visibility: hidden;-webkit-backface-visibility: hidden;}
.wap_block_style28 .s28_c h2{margin:10px 0 5px 0;}
.wap_block_style28 .s28_c h6{color:#bdbdbd;height:12px;margin:5px auto 0 auto;transform-origin: 0 0;-webkit-transform-origin: 0 0;transform:scale(0.9);-webkit-transform:scale(0.9);-webkit-backface-visibility: hidden;}


.wap_block_style29{overflow: hidden;margin-top:10px;padding-top: 0px;padding-bottom: 0px;position:relative;-webkit-tap-highlight-color:rgba(255,0,0,0);tap-highlight-color:rgba(255,0,0,0);text-align:justify;font-size:0;}  
.wap_block_style29 .s29_h{width: 100%;height: 22px;line-height: 22px;}
.wap_block_style29 .s29_h:after{clear: both;}
.wap_block_style29 .s29_h h2{padding-left:10px;float: left;}
.wap_block_style29 .s29_h h4{padding:0 2px 0 32px;float: right;position: relative;cursor: pointer;color:#999999;}
.wap_block_style29 .s29_h h4:before{content: '';width: 13px;height: 13px;background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAQAAABuvaSwAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAAAEgAAABIAEbJaz4AAAAJdnBBZwAAABYAAAAWANzF6VgAAAFsSURBVCjPjdM9SJVRGAfw3z3azamyqUKopEU0aeljFAky3dx0FRFtUBsicLiXlnIwWyIuOidIU1FXoUWbGmoJkyD8GCSnVCLoWn4Mr3rfS+/t9t+ec348HB6ek8qJpVaX25qdUbDmq7wpG0e3mdQRrjHsnlNK88O4h34hI3uIL3ilSXLe69QrSzWo804d+GxS3jLqtevRgOsWnYBUjhrzrmLbXc/sxnpWG/TooCEChg5oh6cllD/GTBfL4LT7YNjbhPdmdcdxl5NYkEugGZl4GdwCk3YSaLb0ILgCZipTUrmCNI7bVjFBoTIq4m+g/v/wF9D2TzVoz54XwSzoUVWWVukFs8GULTTpK4v7NWLTdPDdKBh3M5G2GgOPbQU88Qlpr90RSgdrwBtpfDAabR2XzDkHFkyYseSY81r1uQxWtFg9xFz0suzyf9RpNRpdlGXXjNj8C/70wI2IFjtHqdWtTbOzflu3KO957MPaBzznW+IvA5o1AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA5LTAxVDIxOjA3OjA2KzA4OjAwLrPbBwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wOS0wMVQyMTowNzowNiswODowMF/uY7sAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAAElFTkSuQmCC) no-repeat;background-size: 100% 100%;position: absolute;left: 15px;top: 5px;}
.wap_block_style29 .s29_h h4 img{width: 13px;position: absolute;left: 15px;top: 5px;border: 0;padding: 0;}
.wap_block_style29 .s29_c{display:inline-block;min-width:124px;width:41.25%;text-align:left;overflow:hidden;position:relative;margin-top:3px;margin-bottom: 7px;padding:11px 11px 5px 11px;background-color: #ffffff;}
.wap_block_style29 .s29_c:nth-child(even){float:left;}
.wap_block_style29 .s29_c:nth-child(odd){float:right;}
.wap_block_style29 .s29_c img.pto{width:124px;height:124px;right:10px;top:10px;width: 100%;}
.wap_block_style29 .s29_c h6{color:#c40000;height:12px;margin:5px auto 0 auto;display:inline-block;}
.wap_block_style29 .s29_c img.price{color:#c40000;float:left;}
.wap_block_style29 .s29_c .tag{float:right;width:28px;height:13px;}




