<style>
.content_home {
    width: 100%;
    height: 100%;
}

.content_main {
    text-align: left;
    float: left;
    width: 72%;
}

.content_main p {
    line-height: 250%;
    font-size: 16px;
}

.shortcut {
    width: 275px;
    text-align: left;
    float: right;
}

.content_displacement {
    padding: 10px 0 0 40px;
}

.light {
    color: #2274c8;
    font-weight: bold;
}

.shortcut_row {
    padding: 10 0;
}

.content_displacement a {
    color: #1e7dde;
}

.content_block {
    padding: 40px 0 0 0;
}
</style>
<div id="home" class="content_home" style="display: block; opacity: 1;">
    <div class="content_main">
        <div class="content_block">
            <h2>Qmik说明</h2>
            <div class="content_displacement">
                <p>
                    1.Qmik是一个快速,精简的JavaScript库,核心大小20k,<span class="light">类jQuery语法</span>
                </p>
                <p>
                    2.采用了<span class="light">模块化组件</span>,使您的前端项目完全可以基于模块化开发
                </p>
                <p>3.简化了HTML文档遍历，事件处理，动画，以及用于快速Web开发的Ajax交互</p>
                <p>4.Qmik是旨在改变你编写JavaScript的方式,采用模块化,面向对象思想来开发</p>
                <p>
                    5.推荐做<span class="light">移动端h5开发</span>框架,支持chorme,uc,safiri,qq浏览器,火狐,
                    IE(>=9,9以下没有做过深入的测试)等
                </p>
                <p>
                    6.<span class="light">插件式</span>增强Qmik能力,可以通过插件增强Qmik的功能和自定义插件功能
                </p>
            </div>
        </div>
        <div class="content_block">
            <h2>Qmik模块构成</h2>
            <div class="content_displacement">
                <p>1.基础模块(Qmik,提供基础功能)</p>
                <p>2.查询模块(Qmik._query,提供文档检索及操作功能)</p>
                <p>3.模块化模块(Qmik.sun,提供模块组件化开发的支持)</p>
                <p>4.ajax模块(Qmik._ajax,提供ajax请求功能)</p>
                <p>5.事件模块(Qmik._event,提供事件功能)</p>
                <p>6.视图模块(Qmik._view,提供视图位置计算及动画功能)</p>
            </div>
        </div>
        <div class="content_block">
            <h2>Qmik插件</h2>
            <div class="content_displacement">
                <p>1.导航插件(Qmik.nav,提供前进后退导航支持,利用hashchange事件实现)</p>
                <p>2.显示隐藏动画插件(Qmik.fn.fade,提供动画显示隐藏界面的功能)</p>
                <p>3.储存插件(Qmik.store,提供对cookie,localStorage,sessionStorage的操作支持)</p>
            </div>
        </div>
    </div>
    <div class="shortcut">
        <div class="shortcut_row">
            <span>获取开发源码</span>
            <div>
                <p class="content_displacement">
                    <a href="https://github.com/leochen36/qmik">github</a>
                </p>
            </div>
        </div>
        <div class="shortcut_row">
            <span>帮助文档</span>
            <div>
                <p class="content_displacement">
                    <a href="https://github.com/leochen36/qmik">Qmik API文档</a>
                </p>
            </div>
        </div>
    </div>
</div>