*{
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;	
}
a{
	cursor: pointer;
}
body,img{
	margin: 0;
	padding: 0;
	background: #f4f4f4;
}
.c-g-float{
	float: left;
}
.c-g-wrap{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.c-g-wrap-main{
	width: 100%;
	min-width: 320px;
	overflow: hidden;
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: left;
}
.c-g-wrap-sub{
	width: 100%;
	min-width: 320px;
	min-height: 320px;
	background: #f4f4f4;
	overflow: hidden;
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: left;	
	position: absolute;
	left: 100%;
	/* 下面的代码,解决闪的问题 */	
}
.c-g-content{
	margin: 60px 0 0 0;
}
.c-g-fixed{
	height: 60px;
}
.c-g-fixed .c-g-logo{
	position: absolute;
	left: 8px;
	top:8px;
	width: 44px;
	height: 44px;
}
.c-g-fixed .c-g-nav{
	height: 60px;
	max-width: 960px;
	width: 80%;
	margin: 0 auto;
}
.c-g-fixed .c-g-nav-all{
	width: 100%;
	max-width: 100%;
}
.c-g-fixed .c-g-nav a{
	line-height: 60px;
	height: 60px;
	color: #fff;
	font-size: 24px;
	font-family: "微软雅黑";
	font-weight: bold;
	min-width: 80px;
	display: inline-block;
	text-align: center;
}
.c-g-fixed .c-g-nav-all a{
	font-size: 24px;
}
.c-g-main{
	max-width: 960px;
	overflow: hidden;
	margin: 0 auto;
}

.c-g-area{
	float: left;
	min-width: 320px;	
	width:100%;
	display: inline-block;
}
.c-g-area ul{
	list-style-type: none;
	padding: 5px;
	margin: 0;
}
.c-g-area ul li{
	list-style-type: none;
	line-height: 25px;
}
.c-g-area .c-g-left-nav{
	max-width: 240px;
}