<!DOCTYPE html>
<html>
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <meta name="description" content="Qmik 是一个移动优先的前端基础框架。" /> 
  <meta name="keywords" content="HTML, HTML5, CSS, CSS3, JS, JavaScript, framework, Qmik,  web development, 前端框架, 开源, Web Components" /> 
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" /> 
  <title>Qmik是一个移动端的HTML5开发框架</title> 
  <meta name="renderer" content="webkit" /> 
  <meta http-equiv="Cache-Control" content="no-siteapp" /> 
  <meta name="apple-mobile-web-app-title" content="Qmik" /> 
  <meta name="apple-mobile-web-app-capable" content="no" /> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
  <link rel="stylesheet" href="../css/amazeui.css?v=i4unzuke" /> 
  <link rel="stylesheet" href="../css/amaze.css?v=i4unzuke" /> 
  <link rel="stylesheet" type="text/css" href="../css/style.css" /> 
  <script type="text/javascript" src="../js/Qmik.js"></script>
  <script type="text/javascript" src="../js/config.js"></script> 
 </head> 
 <body> 

  <section class="" id="amz-main" data-tag="css"> 

        <div class="offering doc-content"> 
            <div class="v-desc">
               <h2 id="css-概述">Qmik 概述</h2> 
               <h5>
                  Qmik是我从2011开始从国内移动互联网爆发开始,利用个人业余时间开发开源HTML5框架,
                  经历大大小小的项目实战,到达今天的地步
               </h5> 
               <p>希望大家多支持开源软件,也为开源的作者提供一定的捐助,让作者更有时间去维护升级</p> 
               <p>支付宝账号: cwq0312@163.com,  陈维巧</p> 
               <p><img class="v-mepay" src="../images/me.jpg"/></p>
                      
  </section> 


 </body>
</html>