

<h6 id="query">查询使用例子</h6> 
<div class="doc-code demo-highlight"> 
  api采用HTML5原生的方法querySelectorAll来检索,性能最高效,
  但是会存在不同浏览器支持的程度不太一样,下面的写法,浏览器都会支持
  <pre class=""><code class="javascript">
    $("div");
    $("#id");
    $(".classname");
    $("input[type=text]");
    $("div ul li");
    $("div > li > .classname");
    $("input[type=checkbox]:checked");
  </code></pre> 
</div> 


<h6 id="sun">sun模块开发使用例子</h6> 
<div class="doc-code demo-highlight">
  <pre class=""><code class="javascript">
    (function($){
        var Module = {//声明模块,,,这种写法比写在define里的性能要高一些,
            show: function(msg){
              console.log("module/user:", msg);
            }
        };
        define("module/user", function(require, exports, module){
            module.exports = Module;//导出模块
        });
    })(Qmik);
    
    (function($){
        var Module = {//声明模块,,,这种写法比写在define里的性能要高一些,
            show: function(msg){
              console.log("module/account:", msg);
            }
        };
        define("module/account", function(require, exports, module){
            return //导出模块
        });
    })(Qmik);

    (function($){
        //使用模块
        $.use(["module/user","module/account"], function(user, account){
            user.show(" hello world going to qmik");
            account.show(" hello world going to qmik");
        });
    })(Qmik);
  </code></pre> 
</div> 


<h6 id="mvc">mvc开发使用例子</h6> 
<div class="doc-code demo-highlight">
  <pre class=""><code class="javascript">
    
    &lt;div q-ctrl="user"&gt; 控制器不能有子控制器
        &lt;input name="user.name" type="text" value="leo"/&gt;
        &lt;input name="user.age" type="text" value="22"/&gt;
        &lt;p&gt;
            倒计时:${time}
        &lt;/p&gt;
        &lt;p&gt;
          输出: ${user.name} - ${user.age}
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;script type="text/javascript"&gt;
        (function($){
          //$.app() 编译页面页面,只会编译一次,后面再次调用,不会生成新值 
          //$.app().ctrl();//定义控制器
          $.app().ctrl({
            user: function(scope){//控制器user,对应 q-ctrl="user"
                scope.time = 5;
                scope.watch({
                  "user": function(val){
                    console.log("watch user:", val);
                  }
                });
                $.cycle(function(){
                    scope.time--;
                    scope.apply("time");//更新time所在的节点值
                }, 1000);
                $.delay(function(){
                    scope.user = {
                      name: 'leochen',
                      age: 99
                    };
                    scope.apply(["user"]);
                }, 3000);
            }
          });
        })(Qmik);
    &lt;/script&gt;

  </code></pre> 
</div> 



<h6 id="ajax">ajax使用例子</h6> 
<div class="doc-code demo-highlight">
  <pre class=""><code class="javascript">
      $.ajax({
          url: "/a/t",
          data:{name:'leo'},
          type:"GET",
          dataType: "jsonp",
          success: function(data){}
      });
      //get(url[, data], success[, dataType, method]);
      $.get("/a/t?name=leo", function(data){

      });
  </code></pre> 
</div> 


<h6 id="event">event事件使用例子</h6> 
<div class="doc-code demo-highlight">
  <pre class=""><code class="javascript">
      $(function(){
          $("body").on({
            click: function(e){
              console.log("on click")
            }
          });
          $("body").live({
            click: function(e){
              console.log("live click")
            }
          });
          $("body").once({
            click: function(e){
              console.log("once click")
            }
          });
          //$("body").off("click");
          //$("body").die("click");
          $("body").emit("click");//触发事件,与下面的作用相同
          $("body").trigger("click");//触发事件
      });
  </code></pre> 
</div> 