<div class="explain">
    <div class="explain_title"> Qmik.fn.animate</div>
    <div class="explain_desc">动画</div>
    <div class="explain_desc">
    
                    方法原型:Qmik.fn.animate(styles,speed,easing,callback)<br/>
 
    
    </div>
    <div class="exmpain_examples">
        <div class="exmpain_row">
            <div class="explain_sub_title">例子1</div>
            <div class="explain_code">
                <textarea style="overflow-y:visible;" disabled="disabled">
                $("div")animate({height:"100px"},10)
                
                </textarea>
            </div>
            <div class="explain_desc"> </div>
        </div>
    </div>
</div>
