
<p> 
  Qmik.fn.closest()函数用于从当前匹配元素开始，逐级向上级选取符合指定表达式的第一个元素，并以Query对象的形式返回
</p> 

<p>
	Qmik.fn.closest(selecter) 
</p>
<table class="am-table am-table-bd am-table-striped"> 
  <thead> 
   <tr> 
    <th>参数</th> 
    <th>描述</th> 
   </tr> 
  </thead> 
  <tbody> 
   <tr> 
	    <td>selecter</td> 
	    <td>选择器,可以是css选择器, dom,Qmik对象</td>
   </tr>
  </tbody> 
</table> 
<div class="doc-code demo-highlight"> 
  <pre class=""><code class="javascript">
  	 $("div").closest("li");
  </code></pre> 
</div> 

