
<p> Qmik.fn.each()函数用于以当前Query对象匹配到的每个元素作为上下文来遍历执行指定的函数</p> 

<p>
	Qmik.fn.find(function) 
</p>
<table class="am-table am-table-bd am-table-striped"> 
  <thead> 
   <tr> 
    <th>参数</th> 
    <th>描述</th> 
   </tr> 
  </thead> 
  <tbody> 
   <tr> 
	    <td>function</td> 
	    <td>function(i, dom)</td>
   </tr>
  </tbody> 
</table> 
<div class="doc-code demo-highlight"> 
  <pre class=""><code class="javascript">
  	$("div").each(function(i, dom){
      console.log(dom);
    });
  </code></pre> 
</div> 

